AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
DYNAMODB_TABLE=habit-tracker-habits
S3_BUCKET_REPORTS=habit-tracker-reports
SNS_TOPIC_ARN=your_topic_arn_here
LOCAL_USER_ID=your-dev-prefix-here